.card-noticia {
	border-radius: 1.2em;
	border: 1px solid #333699;

	.card-img,
	.card-img-top {
		position: relative;
		padding-top: 63.4146341463%;
		border-bottom: 3px solid;

		&,
		> img {
			border-top-left-radius: calc(1.2rem - 1px);
			border-top-right-radius: calc(1.2rem - 1px);
		}

		> img {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	.card-body-wrapper {
		position: relative;
		padding-top: 65.3658536585%;

		.card-body {
			position: absolute;
			top: 0;
			left: 0;
			overflow: hidden;

			.card-title,
			.card-text {
				display: -webkit-box;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
				overflow: hidden;
			}

			.card-title {
				font-weight: 600;
				font-size: 1.1em;
				margin-bottom: 1rem;
			}

			.card-text {
				font-size: 0.8em;
				margin-bottom: 0;
			}
		}
	}
}
