.pagination {
	.page-item {
		&.active {
			.page-link {
				background-color: map-get($cores, 'cor-primaria');
				border-color: map-get($cores, 'cor-primaria');
			}
		}

		.page-link {
			border-radius: 0.5rem;

			&:hover {
				background-color: map-get($cores, 'cor-primaria');
				border-color: map-get($cores, 'cor-primaria');
				color: map-get($cores, 'white');
			}
		}
	}
}
