
html,
body {
  padding: 0;
  margin: 0;
  font-family: ‘Open Sans Hebrew’, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



.text_bold {
  font-family: ‘Open Sans Hebrew’, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color:white;
}